* {
  font-family: "Montserrat", sans-serif;
}
.about .container img {
  width: 100%;
  border-radius: 25px;
  height: auto;
}
.about .container {
  margin-top: 5%;
  height: 70vh;
}
.about-box h2 {
  padding-left: 7%;
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 70px 0px 30px 0px;
}
.about-box p {
  padding-left: 7%;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #8a8a8a;
  margin: 0px 0px 0px 0px;
}
.team-box .container img {
  border-radius: 15px;
  width: 100%;
}
.team-box p {
  font-weight: 600;
}
.team-box h2 {
  text-align: center;
}
.about-img-box img {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
  object-fit: contain;
}
.team-box img {
  position: relative;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.team-box .col-sm-12 {
  position: relative;
  overflow: hidden;
}
.team-box .col-sm-12::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4%;
  width: 92%;
  height: 43.3vh !important;
  border-radius: 15px;
  background: rgba(226, 226, 226, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.team-box .col-sm-12:hover::before {
  opacity: 1;
}

.team-box img:hover {
  transform: scale(1.05);
}

.team-box .social-icons {
  position: absolute;
  top: 22%;
  right: 7%;
  transform: translateY(-50%);
  display: none;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}

.team-box .col-sm-12:hover .social-icons {
  display: flex;
}

.team-box .social-icons a {
  color: #fff;
  background-color: #333;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.team-box .social-icons svg {
  font-size: 1.5rem;
}
@media (max-width: 992px) {
  .team-box .container {
    height: auto;
  }
  .team-box .col-sm-12::before {
    height: auto;
  }
  .about-box p {
    margin-top: -7%;
  }
  .about-box   h2{
    font-size: 25px;
    width: 100%;
  }
  .about .container .row .img1 img{
    height: 50vh;
    width: 120%;
    margin-left: -13%;
    
  }
}
@media (max-width: 768px){
  .team-box{
    margin-top: -20%;
  }
  .about .container .row .img1 img{
    margin-left: -10%;
    height: 40vh;
    
  }
}
@media (max-width: 500px){
  .team-box{
    margin-top: 30%;
  }
  .contact-header h2{
  margin-top: -20%;
  }
  .about .container .row .img1 img{
    margin-top: 30%;
    height: 35vh;
    
  }

}
@media (max-width: 380px){
  .team-box{
    margin-top: 35%;
  }
}