.blog{
  background-color: #fafafa;
}
.blog .card img {
  height: 35vh;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.blog .card {
  margin-bottom: 7%;
  border-radius: 15px;
}
.blog .card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.blog .container {
  height: auto;
  margin-bottom: 6%;
}
.blog .card span:nth-child(2) {
  color: rgb(103, 103, 103);
}
.blog .card h5 {
  font-weight: 600;
}
.blog .card span,
p {
  font-weight: 200;
}
.blog .card .card-body {
  height: 26vh;
 
}
@media(max-width:990px){
  .blog .container{
    height: auto;
    margin-bottom: 5%;
  }
}
@media(max-width:912px){
  .blog .card .card-body {
    height: 13vh;
   
  }
}
@media(max-width:855px){
  .blog .card .card-body {
    height: 15vh;
   
  }
}
@media(max-width:768px){
  .blog .card .card-body {
    height: 18vh;
   
  }
}
@media(max-width:540px){
  .blog .card .card-body {
    height: 24vh;
   
  }
  }
@media(max-width:414px){
.blog .container{
  margin-top: 30% !important;
}
.blog .card .card-body {
  height: 20vh;
 
}
}
@media(max-width:375px){
  .blog .card .card-body {
    height: 24vh;
   
  }
  }