.blog .card img{
    height: 35vh;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.blog .card{
    margin-bottom: 5%;
    border-radius: 15px;
}
.blog .container{
    height: 200vh;
}
.blog .card span:nth-child(2){
    color: rgb(103, 103, 103);
}
.blog .card h5{
    font-weight: 600;
}
.blog .card span, p{
    font-weight: 200;
}
.blog .card .card-body{
    height: 25vh;
}
