.category-box{
   margin-top: -7%;
    height: 75vh;
    background-color: black;
    color: white;
    h2{
        margin-left: 5%;
        padding-top: 4%;
    }
    .paragraph{
        margin-left: 5%;
    }
    .img-fluid{
        width: 200%;
    }
    img{
        border-radius: 15px;
    }
}
