.contact-header {
    position: relative; 
    text-align: center; 
}

.contact-header img {
    height: 45vh;
    width: 100%;
    object-fit: cover;
}

.contact-header h2 {
    transform: translateY(-400%);
    position: relative; 
    z-index: 1; 
   
}
.contact{
    .container{
        margin-top: 5%;
        height: 35vh;
        text-align: center;
    }
    svg{
        font-size: 35px;
        color: rgb(169, 169, 169);
    }
    h4{
        font-weight: 300;
        color: rgb(84, 84, 84);
    }
    p{
        color: rgb(175, 175, 175);
    }
}
form {
    display: flex;
    flex-direction: column;
    width: 100%; 
    border: 1px solid black;
   
  }
  .input-box{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    input{
        width: 40%;
        color: white !important;
    }
   .name{
    margin-left: 5%;
   }
  }
  .contact{
    form{
        width: 70%;
       transform: translateX(22%);
        height: 65vh;
        margin-bottom: 10%;
        border-radius: 25px;
        background-color:#101010; 
        .container{
            width: 80%;
           input{
            width: 100%;
            height: 7vh;
            border: 1px solid gray;
            background-color: transparent;
            border-radius: 25px;
            margin-bottom: 4%;
            color: white;
           }
           input::placeholder{
            padding-left: 25px;
           }
           textarea{
            width: 100%;
            height: 25vh;
            border: 1px solid gray;
            border-radius: 25px;
            margin-bottom: 2%;
            background-color: transparent;
           }
           textarea::placeholder{
            padding-left: 25px;
            padding-top: 15px;
           }
        }
        button{
            height: 7vh;
            width: 20%;
            border: 1px solid gray;
            background-color: transparent;
            border-radius: 25px;
            color: gray;
        }
    }
  }
 .contact{
    h1{
        text-align: center;
        margin-bottom: 2%;
       color: white;
        font-weight: 300;
        padding-top: 2%;
    }
    .message{
        background-color: black;
        height: 100vh;
    }
    .map{
        width: 100%;
        height: 55vh;
    }
 }
 @media(max-width:1024px){
    .contact .message{
      height: 90vh;
    }
  }
  @media(max-width:990px){
    .contact .container{
      height: auto;
    }
    .contact form button{
      width: auto;
      height: auto;
    }
    .contact .message{
      height: 80vh;
    }
  }
  
  @media(max-width:576px){
    .contact form button{
      width: auto;
      height: auto;
    }
    .contact form{
      height: auto;
    }
    .contact .message{
      height: 76vh;
    }
  }
  @media(max-width:500px){
    .contact-header{
        h2{
            top: 50% !important;
        }
    }
   .location{
    margin-top: 25% !important;
   }
  }