footer {
  background-color: #f5f5f5;
  height: 50vh;
  margin-top: -6%;
  input {
    width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 7vh;
    margin-left: 2%;
    border-radius: 25px;
    border: 1px solid black;
  }
  input::placeholder {
    padding-left: 20px;
  }
  button {
    transform: translateX(-110%);
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    height: 4vh;
    width: 20%;
  }
  .item1 {
    margin-top: 7%;
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 3%;
  }
  .item2 {
    margin-top: 7%;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .item3 {
    margin-top: 7%;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .icon {
    display: flex;
    h6 {
      margin-left: 4%;
    }
    svg {
      margin-right: 2%;
    }
  }
  p {
    font-size: 13px;
    margin-left: 3%;
  }
  h5 {
    margin-left: 3%;
  }
}

@media (max-width: 1125px) {
  footer {
    height: 45vh;
  }
}
@media (max-width: 1024px) {
  footer {
    height: auto;
  }
}
@media (max-width: 992px) {
  footer {
    height: auto;
  }
  footer .item1 {
    margin-left: -10%;
    margin-right: 5%;
  }
  footer .item2 {
    margin-right: 5%;
  }
  footer input {
    width: 78%;
  }
}
@media (max-width: 922px){
  footer {
    height: auto;
  }
}
@media (max-width: 836px) {
  footer .item1 {
    margin-left: -5%;
    margin-right: 1%;
  }
  footer .item2 {
    margin-right: 1%;
  }

}
@media(max-width:768px){
    footer{
        height: auto;
    }
    footer .container .row{
        display: flex;
        flex-direction: column;
    }
    footer input{
        width: 150%;
      }
      footer  button {
        transform: translate(190%, -178%);
        width: 50%;
      }
}
@media(max-width:450px){
    footer{
        height: auto;
    }
    footer h5{
        width: 110%;
    }
      footer  button {
        transform: translate(190%, -170%);
        width: 50%;
      }
}
