footer {
  background-color: #f5f5f5;
  height: auto;
  margin-top: -6%;
  overflow-y: hidden;

  .item1 {
    margin-top: 5%;
    max-width: 50%;
    flex: 0 0 50%;
    margin-bottom: 3%;
    input {
      border: none;
      border-bottom: 1px solid #ccc;
      background-color: transparent;
      margin: 3%;

      &:focus {
        border-color: #ccc; 
        outline: none; 
        box-shadow: none; 
      }
    }
    h5 {
      margin-top: 3%;
    }
  }
  .item2 {
    margin-top: 5%;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .item3 {
    margin-top: 5%;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .icon {
    display: flex;
    h6 {
      margin-left: 4%;
    }
    svg {
      margin-right: 2%;
    }
  }
  p {
    font-size: 13px;
    margin-left: 3%;
  }
  h5 {
    margin-left: 3%;
  }
}
@media (max-width: 768px){
  .item1{
    img{
      width: 70%;
      margin-bottom: 3%;
    }
  }
}
@media (max-width: 476px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .item1,
  .item2,
  .item3 {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}