footer{
   background-color: #f5f5f5;
   height: 55vh;
   margin-top: -6%;
    input{
        width: 75%;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 7vh;
        margin-left: 2%;
        border-radius: 25px;
        border: 1px solid black;
    }
    input::placeholder{
        padding-left: 20px;
    }
    button{
        transform: translateX(-110%);
       background-color: black;
        color: white;
        border: none;
        border-radius: 25px;
        height: 4vh;
        width: 20%;
       
    }
    .item1{
        margin-top: 7%;
        max-width: 50%;
        flex: 0 0 50%;
        margin-bottom: 3%;
    }
    .item2{
        margin-top: 7%;
        max-width: 25%;
        flex: 0 0 25%;
    }
    .item3{
        margin-top: 7%;
        max-width: 25%;
        flex: 0 0 25%;
    }
    .icon{
        display: flex;
        h6{
            margin-left: 4%;
        }
       svg{
        margin-right: 2%;
       }
    }
    p{
        font-size: 13px;
        margin-left: 3%;
    }
    h5{
        margin-left: 3%;
    }
}


