html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
.main{
  margin-top: 8%;
}
.main .text-box {
  position: absolute;
  top: 54%;
  border-radius: 15px;
  background-color: black;
  color: white;
  height:auto;
  width: 30%;
  margin-left: 9%;
  padding: 2%;
}
.main .carousel-inner .carousel-item img{
  object-fit: contain!important;
  width: 100%;
  height: 100%;
}
.main .btn {
  border-radius: 50px;
  height: 6vh;
  border: 1px solid white;
  color: white;
  width: auto;
  margin-left: 4%;
}
.main .info-box {
  background-color: black;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding-left: 2%;
}
.img-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}


@media(max-width:1028px){
  .main{
    margin-top: 10%;
  }
  .main .text-box{
    width: 40%;
  }
}
@media(max-width:940px){
  .main .text-box{
    width: 45%;
    top: 47%;
  }
}
@media(max-width:768px){
  .main{
    margin-top: 13%;
  }
  .main .text-box{
    display: none;
  }
  .main .info-box{
    padding-top: 2%;
    height: auto;
  }
}


@media(max-width:576px){
  .main .info-box{
    height: auto;
    padding-left: 2%;
  }
}
