html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
}
.main{
  margin-top: 5%;
}
.main .text-box {
  position: absolute;
  top: 54%;
  border-radius: 15px;
  background-color: black;
  color: white;
  height:auto;
  width: 30%;
  margin-left: 9%;
  padding: 2%;
}
.main .carousel-inner .carousel-item img{
  object-fit: contain!important;
  width: 100%;
  height: 100%;
}
.main .btn {
  border-radius: 50px;
  height: 6vh;
  border: 1px solid white;
  color: white;
  width: auto;
  margin-left: 4%;
}
.main .info-box {
  background-color: black;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding-left: 2%;
}
.img-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}


@media(max-width:1028px){
  .main{
    margin-top: 9%;
  }
  .main .text-box{
    width: 50% !important;
    height: 28vh;
    top: 40% !important;
  }
}
@media(max-width:940px){
  .main .text-box{
    display: none;
  }
}
@media (max-width: 768px) {
  .main {
    margin-top: 12%;
  }
  .main .info-box {
    flex-wrap: wrap;
    height: auto;
    text-align: center;
    padding: 5%;
  }
  .main .info-box .col-md-3 {
    width: 50%;
    padding: 1%;
  }
  .img-box img {
    object-fit: cover;
  }
}

@media (max-width: 576px) {
  .carousel-inner{
    margin-top: 25%;
  }
  .main {
    margin-top: 15%;
  }
  .main .info-box {
    height: 15vh;
  }
  .main .info-box img{
    width: 15%;
  }
  .main .info-box .col-md-3 {
    width: 100%;
    margin-bottom: 10px;
  }
  .main .btn {
    height: auto;
    width: 80%;
    margin: 10px auto;
  }
  .carousel-inner .carousel-item img {
    object-fit: cover;
    height: 300px;
  }
}
@media (max-width: 440px){
  .main .info-box {
    height: 10vh;
  }
}
