
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}


.products-section {
  display: flex;
  margin: 3%;
  position: relative;
  gap: 5%;  
  flex-wrap: wrap;
}

.product-span {
  text-decoration: line-through;
}

.products nav {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px 0;
}

.products nav a {
  font-size: 1rem;
  color: #333;
  padding: 10px;
  transition: color 0.3s ease;
}


.products button {
  color: grey;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Filter Form */
.filter-form {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 25%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 15px;
  border: none;
  border-radius: 15px;

}
.filter-form  h2{
  margin-top: 25%;
}
.filter-section .form-check {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333;
}

.filter-form .form-check-label {
  font-size: 1rem;
  color: #555;
}

.filter-form .form-check input {
  cursor: pointer;
}

.products-img {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
  height: 100vh;
  position: relative;
  margin-bottom: 5%;
}

.products-img img {
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.products .product-card:hover img {
  transform: scale(1.05);
}

.products .product-card {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 61vh;
  margin-bottom: 7%;
}

.products .product-card:hover {
  transform: translateY(-10px);
}

.bestseller-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .bestseller-icons {
  opacity: 1;
}

.img-icon {
  font-size: 1.7rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.img-icon:hover {
  transform: scale(1.2);
}

.products .product-card p {
  margin-top: 1.5rem;
  padding: 0 10px;
  color: #555;
}


.products .sort-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.products .sort-select {
  position: relative;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 5vh;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  color: #555;
}

.products .sort-select select {
  font-size: 1rem;
  padding: 5px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #333;
}

.products .sort-select select:focus {
  outline: none;
  border: 1px solid #f39c12;
}
@media (max-width: 912px) {
  .products .product-card {
    height: 40vh;
   }
}
@media (max-width: 853px) {
  .products .product-card {
    height: 75vh;
   }
}

@media (min-width: 768px) {
  .products-section {
    gap: 3%;
  }

  .filter-form {
    width: 25%; 
  }

  .products-img {
    flex-grow: 1; 
    width: 70%;
  }
  .products .product-card {
    height: 15vh !important;
   }
}

@media (max-width: 576px) {
  .products-section {
    display: block;
    text-align: center;
    padding: 10px;
  }

  .filter-form {
    height: auto !important;
    max-height: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  .products-img {
    margin-top: 0;
    width: 100%;
  }

  .filter-section .slider {
    width: 300% !important;
  }

  .filter-section p {
    width: 100% !important;
  }

  .filter-section .brand-box button {
    width: 100%;
  }
  .products .product-card {
    height: 45vh;
   }
   .products .product-card  img{
    width: 100% !important;
   }
}@media (min-width: 540px) {
  .products .product-card {
    height: 70vh !important;
   }
}
@media (min-width: 344px) {
  .products .product-card {
    height: 40vh;
   }
}
@media (min-width: 344px) {
  .products .product-card {
    height: 60vh;
   }
}

