.product-detail{
    background-color: #e6e6e6a2;
}
.product-detail .product-card {
    display: flex; 
    justify-content: space-around;  
    height: 86vh;
    width: 100%;
    margin-top: 15%;
}
  
   .product-detail .product-info {
      flex: 6;  
      text-align: center;  
      height: 70vh;
    }
    .product-detail .product-info .img-fluid{
        height: 70vh;
        width:85%;
        border: none;
        border-radius: 15px !important;
       
        
    }
    .product-detail .product-description {
      flex: 6;  
    
    }
    .product-detail .product-description h3{
        font-weight: 550;
    }  
    .product-detail .product-description svg{
        color: rgba(255, 204, 39, 0.96);
        margin-bottom: 2%;
    }
    .product-detail .addition-info svg{
        font-size: 1.8rem;
        color: rgb(84, 84, 84);
        margin-top: 1%;
    }
    .product-button button {
        border: none;
        width: 6%;
        height: 5vh;
        margin: 2%;
        border: 1px solid white;
        background-color: black;
        color: white;
        border-radius: 5px;
        margin-bottom: 4%;
    }
    .product-button .add{
        width: 68%;
        height: 5vh;
    }
    .product-button svg{
        font-size: 1.8rem;
        margin-top: 1%;
        color: red !important;
    }
    .product-button .shop{
        width: 100%;
    }