
.products-section {
  display: flex;
  margin-bottom: 6%;
  margin-left: 3%;
}
.product-span {
  text-decoration: line-through;
}
.products nav {
  display: flex;
  justify-content: space-around;
}
.products button {
  color: grey;
}
.products .info-box {
  width: 30%;
  margin-left: 3%;
}
.products-img {
  margin-right: 5%;
  flex-grow: 1;
  overflow-y: auto;
  margin-left: 3%;
}
.products-img img {
  border-radius: 15px;
}

.products form {
  position: sticky;
  top: 0;
  padding: 1%;
  max-width: 23%;
  height: 100vh;
  border: none;
}
.products .brand-box {
  display: flex;
  flex-direction: column;
  margin-top: 5% !important;
}
.products .brand-box button {
  margin-top: 5%;
  border: 1px solid gray;
  border-radius: 15px;
  width: 80%;
  color: gray;
  background-color: white;
}
.products .sort-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.products .sort-select {
  position: relative;
  top: 0;
  right: 0;
  margin-right: 1rem;
  margin-top: 1rem;
  height: 5vh;
}
.products .product-card {
  position: relative;
  overflow: hidden;
}

.products .product-card img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}

.products .product-card:hover img {
  transform: scale(1.05);
}

.bestseller-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.product-card:hover .bestseller-icons {
  opacity: 1;
}

.img-icon {
  font-size: 1.7rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.img-icon:hover {
  transform: scale(1.2);
}
.products .product-card p {
  margin-top: 3%;
}
.products nav{
  background-color: transparent;
}
