.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  
}
.wishlist-container img {
  border-radius: 15px;
  width: 80%;
}
.wishlist-item {
  flex: 1 1 calc(30.3% - 16px);
  max-width: calc(30.3% - 16px);
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin: 10px; 
 
}
.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 50px;
  cursor: pointer;
  font-size: 24px; 
}

.wishlist-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.wishlist-item p {
  margin-top: 10px; 
}
.wishlist {
  margin-bottom: 15%;
}
.remove {
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
}
@media (max-width: 920px) {
  .wishlist-item {
    flex: 1 1 calc(50% - 16px); 
    max-width: calc(50% - 16px);
  }
}

@media (max-width: 500px) {
  .wishlist-item {
    margin-top: 20%;
  }
  .wishlist-container img{
    width: 100%;
  }
  .wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px; 
  }
}
